<div class="text-center">
    <h2><%= @group.name %> ユーザ一覧</h2>
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <ul class="list-unstyled">
                <div>
                    <% if @users.any? %>
                        <!--グループのメンバー-->
                        <%= render 'users/users', users: @users %>
                    <% end %>
                    <p><%= @group.introduction %></p>
                    <% if current_user == @admin_user %>
                        <div>
                            <%= link_to 'グループを編集する', edit_group_path(@group), class: 'btn btn-primary' %>
                            <%= link_to "グループを削除する", @group, method: :delete, data: { confirm: "本当に削除してよろしいですか？" }, class: "btn btn-danger btn-sm" %> 
                        </div>
                    <% end %>
                </div>
            </ul>
        </div>
    </div>
</div>

