<div class="row">
    <div class="col-sm-6 offset-sm-3">
        <h2><%= @user.name %>さんの編集ページ</h2>
        <%= form_with(model: @user, local: true) do |f| %>
            <%= render 'layouts/error_messages', model: @user %>
            <div class="form-group">
                <div>
                    <%= f.label :image, 'Icon' %>
                </div>
                <%= image_url(@user) %>
                <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png', class: 'form-control' %>
            </div>
            <div class="form-group">
                <%= f.label :name, 'Name' %>
                <%= f.text_field :name, class: 'form-control' %>
            </div>
            <div class="form-group">
                <%= f.label :profile, 'Profile' %>
                <%= f.text_area :profile, class: 'form-control', rows: 5 %>
            </div>
            <%= f.submit 'ユーザ情報を更新する', class: 'btn btn-primary btn-block' %>
        <% end %>
    </div>
</div>