<% if logged_in? %>
    <h4><%= current_user.name %>さんのカレンダー</h4>
    <%= render 'layouts/calendar', model: @calendars %>
<% else %>

    <div class="center jumbotron">
        <div class="text-center">
            <h1>Welcome to Uritime!</h1>
            <h5>Uritimeとはカレンダーを利用した<br>
            スケジュール管理アプリです。</h5><br>
           
            
            <%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %>
            <%= link_to "新規登録", signup_path, class: "btn btn-lg btn-success" %>
            <div class="mt-3">
                <%= render 'sessions/test_user' %>
            </div>
        </div>
    </div>
    
<% end %>